<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('base/head', {title: 'Chat'}); %>
  </head>

  <body>
    <%- include('base/navbar'); %>

  <form id="loginForm" class="">
    <div class="container">
      <div class="row">
        <div class="col">
        </div>
        <div class="col-9 center">
          <div class="input-group">
            <input
            type="text"
            class="form-control"
            autocomplete="off"
            placeholder="name..."
            id="nameInput"/>
                <div class="input-group-append">
                <button class="btn btn-success" type="submit">Login</button>
              </form>
             </div>
          </div>
        </div>
        <div class="col"></div>
      </div> 
      </div>
      <div class="row">
        <div class="col"></div>
        <div class="col-7">
          <div class="" id="messagesContainer">
            <!-- Chat Messages Here -->
          </div>
        </div>
        <div class="col"></div>
      </div>
      <div class="row">
        <div class="col">
          <nav id="sidebar">
            <ul class="list-group" id="onlineList"></ul>
          </nav>
        </div>
        <div class="col-7">
          <form id="messageForm" class="hidden">
            <p id="typing"></p>
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              autocomplete="off"
              placeholder="chat..."
              id="messageInput"
            />
            <div class="input-group-append">
              <button class="btn btn-outline-primary" type="submit">Send</button>
            </div>
          </div>
        </form></div>
        <div class="col"></div>
      </div>
    </div>
    <%- include('base/scripts'); %>
    <script src="/js/app.js"></script>
  </body>
</html>
