.chat-message:nth-child(even) {
  background-color: rgba(235, 231, 231, 0.35);
}

.hidden {
  display: none;
}

.server-notification {
  color: #555;
  text-align: center;
  font-size: small;
  font-style: italic;
}

.center {
  align-content: center;
  text-align: center;
}

.is-typing {
  color: #555;
  font-size: small;
  font-style: italic;
}
